spring.jpa.hibernate.ddl-auto=none
spring.datasource.url=jdbc:DIALECT://HOST:PORT/DATABASE
spring.datasource.username=USERNAME
spring.datasource.password=PASSWORD
spring.datasource.driver-class-name=com.DIALECT.cj.jdbc.Driver
#spring.jpa.show-sql: true
springdoc.api-docs.path=/v3/api-docs
springdoc.swagger-ui.path=/swagger-ui
